<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	<!--  <http>
	<intercept-url pattern="/AdminCheck*" access="ROLE_USER"/>
	<http-basic/>
	</http>-->
	 <!-- <http>
	<intercept-url pattern="/adminHome*" access="ROLE_ADMIN"/>
	
	<form-login login-page="/"  default-target-url="/mylogin"/>
	</http>
	 -->
	 
	  <http auto-config="true"  use-expressions="true">
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/signup" access="permitAll" />
        <intercept-url pattern="/contact" access="permitAll" />
        <intercept-url pattern="/quick" access="permitAll" />
           <intercept-url pattern="/adminhome" access="hasRole('ROLE_ADMIN')"/>
          <!--  <intercept-url pattern="/product" access="hasRole('ROLE_USER')"/> -->
           
        <form-login login-page="/mylogin" default-target-url="/adminhome" authentication-failure-url="/accessdenied" />
        <logout logout-success-url="/logout"/>
    </http> 
	 
	<authentication-manager>
	<authentication-provider>
	<jdbc-user-service data-source-ref="dataSource" 
	 users-by-username-query="select name,pwd,enabled from customer2 where name=?" 
	authorities-by-username-query="select u1.name, u2.rolename from customer1 u1, usertype u2 where u1.userid = u2.userid and u1.name =?" />
	</authentication-provider>
	</authentication-manager>
	</beans:beans>